<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">
	
		<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>

		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido}">Todos</a> 
				<a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido/aguardando}">Aguardando</a> 
				<a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/pedido/aprovado}">Aprovado</a>
				<a th:classappend="${status} == 'entregue' ? active" class="nav-item nav-link" th:href="@{/usuario/pedido/entregue}">Entregue</a>
			</div>
			<a href="/pedido/formulario"><button class="btn btn-secondary my-2 my-sm-0">Novo</button></a>
		</nav>

		<div class="card mb-3" th:each="pedido : ${pedidos}">
		
			<th:block th:switch="${pedido.status.name()}">
				<div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Nome do Produto:</div>
				<div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeProduto}">Nome do Produto:</div>
				<div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do Produto:</div>
			</th:block>			

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">

						<div class="row">
							<div class="col-md-5 mb-3">
								Valor: <span th:if="${pedido.valorNegociado} != null" th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}"></span>
							</div>

							<div class="col-md-7">
								Data da Entrega: <span th:text="${#temporals.format(pedido.dataEntrega, 'dd/MM/yyyy')}"></span>
							</div>
						</div>

						<div>Produto:</div>
						<div>
							<input class="form-control" th:value="${pedido.urlProduto}"
								value="Url do Produto" />
						</div>

						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descricao}">Descrição do Pedido: </textarea>
						</div>
					</div>

					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagem}" src="" />
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>
</html>