<head th:fragment="head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">

<style type="text/css">
.logo-container {
	background-color: #47bcff;
	color: #fff;
}

.logo {
	font-family: 'Handlee', cursive;
	font-size: 2.5rem;
}
</style>
</head>

<div th:fragment="logo" class="">
	<div class="logo-container p-3 d-flex justify-content-between">
		<span class="logo ml-3">mudi</span> <span class="mt-3 mr-2"><a
			class="text-light" sec:authorize="!isAuthenticated()" href="/login">login</a></span>
		<span class="mt-3"><a class="text-light"
			sec:authorize="isAuthenticated()" href="#"
			onclick="document.querySelector('#form-login').submit()">logout</a></span>
		<form id="form-login" th:action="@{/logout}" method="post"></form>
	</div>
	<div sec:authorize="isAuthenticated()">
		<div class="col">
			<nav class="nav">
				<a class="nav-link" th:href="@{/home}">HOME</a> 
				<a class="nav-link" th:href="@{/usuario/pedido}">Meus Pedidos</a> 
				<a class="nav-link" th:href="@{/oferta}">Ofertas</a> 
			</nav>
		</div>
	</div>
</div>

<div th:fragment="titulo(valor)" class="jumbotron mb-0 mt-2">
	<h1 class="display-4" th:text=${valor}></h1>
</div>